<nav class="flex  justify-center">
    <div class="flex my-10 items-center gap-10">
        <img src="https://freesvg.org/img/Faceless-Male-Avatar-In-Suit.png" alt=""
            class="w-40 border-2 border-white rounded-full">
        <div class=" text-white text-base">
            <h1 class="text-white text-4xl font-semibold font-mono">Themas Febrianto</h1>
            <div class="text-gray-200 text-base">
                <h1>Lecturer @SMK Yadika Soreang</h1>
                <h1>Software Engineer</h1>
            </div>
            <div class="mt-2 space-x-3 text-gray-300" style="font-size:30px">
                <a href="https://github.com/Reallywanttolearn" class="fa fa-github-square mt" target="_blank"></a>
                <a href="https://www.linkedin.com/in/themas-febrianto-6169401a9/" class="fa fa-linkedin-square"
                    target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCdBOD5JB7XhCgkVG3er6EWA" class="fa fa-youtube-play"
                    target="_blank"></a>
            </div>
        </div>
    </div>
    </div>

</nav>